@import "../../../Style/Variables.scss";

.experties {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px var(--inline-padding) 87px var(--inline-padding);
}
.experties-container {
  display: flex;
  gap: 50px;
  width: 100%;
  justify-content: center;
}
.exprties-headline {
  color: $text-color;
  text-align: center;
  margin-top: 0;
  margin-bottom: 6rem;
}
.expertie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: red 1px solid;
  // width: clamp(8rem, 23vw, 16rem);
  // border: 1px solid red;

  h6 {
    font-size: clamp(20px, 25px);
    color: $text-color;
    font-weight: 700;
    margin-top: 2.2rem;
    text-align: center;
  }
}
.expertie-image {
  width: clamp(9.2rem, 11vw, 14rem);
  border-radius: 300px;
  aspect-ratio: 1/1;
  border: 2px solid rgba(208, 235, 255, 0.9);
}

@media (max-width: 1400px) {
  .experties-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 770) {
  .expertie {
    width: clamp(8rem, 25vw, 15rem);

    h6 {
      font-size: 15px;
      margin-top: 2rem;
    }
  }
}
